<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <%= comment.content %>
        </p>
      </div>
    </div>
    <% if @post.user == current_user%>
     <%= link_to 'Delete', [comment.post, comment],
                  data: {turbo_method: :delete, turbo_confirm: "Do you want to delete the comment?"}, class: "button is-light"%>
    <% end %>
  </article>
</div>
