<%= simple_form_for([@post, @post.comments.build]) do |form| %>
  <div class="field">
    <label class="label"><%= form.label :Comment %></label>
    <div class="control">
      <%= form.text_area :content, class:"textarea", type:"text", placeholder:"Write Your Comments" %>
    </div>
  </div>
  <%= form.button :submit, 'Create comment', class: "button is-dark" %>
<% end %>
