<div class="section">
  <div class="card">
    <div class="card-content">
      <div class="content"> 
        
        <div class="title has-text-centered">
          Sign In
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions mt-2">
            <%= f.button :submit, "Sign in", class: "button is-dark" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      
      </div> 
  
    </div>
  </div>
</div>