<div class="section">
  <div class="card">
    <div class="card-content">
      <div class="content"> 
        <%= form_for @post do |form| %>
          <% if @post.errors.any? %>
            <h2>The following errors prevented the post from saving:</h2>
            <ul>
            <% @post.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
            <% end %>
            </ul>
          <% end %>
          <div class="field">
            <label class="label"><%= form.label :title %></label>
            <div class="control">
              <%= form.text_field :title, class:"input", type:"text", placeholder:"Blog Title" %>
            </div>
          </div>
            <div class="field">
            <label class="label"><%= form.label :content %></label>
            <div class="control">
              <%= form.text_area :content, class:"textarea", type:"textarea", placeholder:"Write your blog" %>
            </div>
          </div>

          <p>
            <%= form.submit class:"button is-dark"%>
          </p>
        <% end %>
      
      </div> 
        <%= link_to "Back to posts", posts_path, class:"button"%>
    </div>
  </div>
</div>