<% content_for :page_title, "index"%>

<div class="section">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="card mb-4">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to post.title, post  %></p>
            </div>
            <p class="date">
              <%= post.created_at.strftime('%B, %d, %Y')%>
            </p>
          </div>
          
          <div class="comment-count">
            <span class="tag is-rounded"><%= post.comments.count %> comments</span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
