<% content_for :page_title, @post.title %>

<section class="section">
    <div class="container">
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div >
              <h1 class="title"> <%= @post.title %></h1>
              <p class="date">
                updated at <%= @post.updated_at.in_time_zone("Jakarta").strftime('%H:%M, %Y-%m-%d')%>
              </p>           
            </div> 
          </div>
          <!-- Right side -->
          <div class="level-right">
              <% if @post.user == current_user%>
                <p class="level-item">
                  <%= link_to "Edit", edit_post_path(@post), class:"button is-dark" %>
                </p>
                <p class="level-item">
                  <%= link_to "Delete", @posts, data: {turbo_method: :delete, turbo_confirm: "DO want to delete it?"}, class:"button is-light" %>
                </p>
                
              <% end %>
              <%= link_to "Back to posts", posts_path, class:"button is dark"%>
          </div>
        </nav>
        <hr/>

        <div class="content is-justify-content-center">
            <%= @post.content %>
        </div>
    </div>
</section>

<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
        <%= render @post.comments %>
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Create comments</h3>
             <%= render 'comments/form' %>
        </div>
    </div>
</section>
