<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>WebblogWeek4</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    
    <section>

        <nav class="navbar has-shadow">
          <div class="container">
            <div class="navbar-brand">
            <div class="navbar-item">
              <%= link_to "Web Blog", root_url, class:"navbar-item title is-5"%>
            </div> 
             <span class="navbar-burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <%= link_to "Create Blog", new_post_path,class:"navbar-item is-active" %>
                <% if user_signed_in? %>
                  <span class="navbar-item">
                  <%= link_to 'Account', edit_user_registration_path, class:"button is-light is-inverted" %>
                  </span>
                  <span class="navbar-item">
                    <%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "user sign out"}, class:"button is-light is-inverted" %>
                  </span>
                <% else %>
                  <span class="navbar-item">
                    <%= link_to "Sign Up", new_user_registration_path, class:"button is-light is-inverted"%>
                  <span class="navbar-item">
                    <%= link_to "Sign In", user_session_path, class:"button is-light is-inverted" %>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
        <div class="container mt-4">
          <% if notice%>
            <div class="notification is-primary">
              <button class="delete"></button>
                <%= notice%>
              </div>
              
          <% end %>
        <div>


        <div class="container mt-4">
          <%= yield %>
        </div>
    </section>
    
  </body>
</html>

